# Build artifacts
build/
*.o
*.obj
*.a
*.elf
*.exe
autocat.prx
favtool/EBOOT.PBP
movedriver/movedriver.prx
movedriver/movedriver.S
favtool/movedriver-stub.S
*.zip
test/test_classify
test/test_sfo
test/test_isocd
test/test_genre
.PSPSDK